<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🍹🍹🍹</title>
</head>
<body>
<form th:attr="action=${valueAction},method=${valueMethod}">
    用户名:<input checked="" th:attr="type=${valueTypeU},placeHolder=${valueUsername},name=${usernameN}"><br>
    密 码:<input checked="" th:attr="type=${valueTypeP},placeHolder=${valuePassword},name=${passwordN}"><br>
    <button th:attr="type=${valueTypeS},value=${valueSubmit}"></button>
    <button type="submit" value="黑卡蒂"></button>
</form>
</body>
</html>