<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🥙🥙🥙</title>
</head>
<body>
<table>
    <tr>
        <th>爱酱名字O(∩_∩)O~</th>
    </tr>

    <tr th:each="name,listStatus:${list}">
        <td th:text="${listStatus.count}"></td>
        <td th:text="${listStatus.current}"></td>
        <td th:text="${listStatus.size}"></td>
        <td th:text="${listStatus.first}"></td>
        <td th:text="${listStatus.last}"></td>
        <td th:text="${listStatus.index}"></td>
        <td th:text="${name}"></td>
    </tr>
</table>
</body>
</html>