<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>😂😂😂</title>
</head>
<body>
<div>
<br>
<hr style="background-color: aqua;height: 10px">
<hr style="background-color: hotpink;height: 10px">
    🎃🎃<div th:insert="template01::Infokayano" style="display: block"></div>
    🍹🍹<div th:insert="template01::Boolkayano" style="display: block"></div>
    🎃🎃<div th:insert="template01::sum(520,1314)" style="display: block"></div>
</div>
</body>
</html>